#my-button {
  font-size: 20px;
  padding: 20px 30px;
  cursor: pointer;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-color: red;
}

.box2 {
  background-color: blue;
}
